* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../assets/Aeonik-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../assets/Aeonik-Regular.otf');
    font-weight: 400;
}

:root {
    color-scheme: dark;
    scrollbar-width: none;
}

html,
body {
    font-family: 'Aeonik';
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

button {
    background: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    letter-spacing: inherit;
}
.nav-btn {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 500;
    display: inline-block;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
  
    &:hover {
      background: white;
      color: black;
    }
  }
@import './Home.scss';
@import './Navbar.scss';
@import './Menu.scss';
@import './Catalogo.scss';
@import './Nosotros.scss';
@import './OwnerProductos.scss';